@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", serif;
}

.card-title {
  @apply text-center text-2xl font-bold text-primary my-2 uppercase bg-white;
}

/* Hide blue background on click for Android */
button,
ul {
  -webkit-tap-highlight-color: transparent;
}

/* Loader */
.loader {
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #58d364;
  animation: prixClipFix 2s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* For card poster */
#card-img {
  height: 300px;
}
#card-height-toggle {
  display: none;
}
#card-height-toggle:checked ~ #card-img {
  height: 600px;
}

/* For input serachbox */
.searchbox--shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Accordion Styles */
.accordion {
  display: none;
}

.accordion:checked ~ * .accordion-arrow {
  transform: rotate(90deg);
}

.accordion:checked ~ * .accordion-item {
  display: block;
}

.button-shadow--active {
  box-shadow: rgba(9, 255, 0, 0.5) 0px 0px 16px;
}

/* YANDEX MAP API */
/* Hide icon in balloon */
.ymaps-2-1-79-balloon__close-button {
  opacity: 0 !important;
}

/* Center Rulet */
.ymaps-2-1-79-controls__control [style^="display: inline"]:first-of-type {
  transform: translateX(-50%);
}

/* Hide Rulete Button */
.ymaps-2-1-79-user-selection-none[id^="id_"] {
  display: none;
}
/* Hide watermarks */
[class*="copyrights-pane"] {
  display: none !important;
}

/* Disable fixed width */
ymaps .ymaps-2-1-79-balloon__content ymaps {
  font-family: "Roboto", serif !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
}

.ymaps-2-1-79-balloon__layout,
.item_border {
  border-radius: 16px;
  border: solid 1px #ccc;
}

.ymaps-2-1-79-balloon {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04) !important;
}

.ymaps-2-1-79-balloon__content {
  margin: 0 !important;
  padding: 0 !important;
}

/* Disable shadow in arrow*/
.ymaps-2-1-79-balloon__tail {
  box-shadow: none !important;
}
