@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.close-icon {
  display: block;
  width: 30px;
  height: 40px;
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQgLjdsLS43LS43TDcgNi4zLjcgMCAwIC43IDYuMyA3IDAgMTMuM2wuNy43TDcgNy43bDYuMyA2LjMuNy0uN0w3LjcgN3oiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) 50% no-repeat;
  opacity: .3;
}

/* Hide watermarks */
[class*="copyrights-pane"] {
  display: none !important;
}

/* Disable fixed width */
ymaps .ymaps-2-1-79-balloon__content ymaps {
  font-family: "Roboto", serif !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
}

.ymaps-2-1-79-balloon__layout {
  border-radius: 16px;
  border: solid 1px #ccc;

}

.ymaps-2-1-79-balloon {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04) !important;
  transform: translateY(-10px);

}

.ymaps-2-1-79-balloon__content {
  margin: 0 !important;
  padding: 16px !important;
}